name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for keyless signing
      attestations: write  # Required for build provenance attestation
      artifact-metadata: write  # Required for Docker metadata action

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Cosign
      uses: sigstore/cosign-installer@v4.0.0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.6.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: minhobharvest/docker-ubuntu-24.04-haproxy-3.2-lua-5.4
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=sha
          type=raw,value=latest,enable={{is_default_branch}}

    - name: Build and Push
      uses: docker/build-push-action@v6
      id: build-and-push
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        attests: type=sbom

    - name: Attest build provenance
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: docker.io/minhobharvest/docker-ubuntu-24.04-haproxy-3.2-lua-5.4
        subject-digest: ${{ steps.build-and-push.outputs.digest }}
        push-to-registry: true

    - name: Sign the images with GitHub OIDC Token
      env:
        DIGEST: ${{ steps.build-and-push.outputs.digest }}
        TAGS: ${{ steps.meta.outputs.tags }}
      run: |
        images=""
        for tag in ${TAGS}; do
          images+="${tag}@${DIGEST} "
        done
        cosign sign --yes ${images}
